body {
  background-color: palevioletred;
}

h1,
p {
  text-align: center;
  display: block;
}

footer {
  display: block;
  text-align: center;
}
.photo {
  font-size: 48px;
  text-align: center;
  display: block;
}

img {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
